::selection {
    background: rgba(255, 255, 255, .75);
    color: rgba(0, 0, 0, .65);
}
::-moz-selection {
    background: rgba(255, 255, 255, .75);
    color: rgba(0, 0, 0, .65);
}
body {
    background: #e0eafc;
    background: -webkit-linear-gradient(to right, #f3e7cf, #e0eafc);
    background: linear-gradient(to right, #f3e7cf, #e0eafc);
    color: rgba(53, 53, 53, .9);
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    letter-spacing: 0.05rem;
}

h1 {
    margin: 20px;
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.panel-heading {
    padding: 0;
}

.panel-heading a {
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.form-group label {
    left: 0;
}

.btn.btn-raised {
    margin: 15px 5px !important;
}

.btn-toolbar {
    text-align: center;
}

.panel {
    background-color: rgba(255, 255, 255, .45);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07),0 3px 1px -2px rgba(0,0,0,.1),0 1px 5px 0 rgba(0,0,0,.06);
}

.panel-title a {
    transition: .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-title a:not(.collapsed) {
    background-color: rgba(0, 0, 0, .05);
}

.panel-title a.collapsed:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background-color: rgba(0, 0, 0, .03);
}

.alert-warning {
    background: rgba(244, 67, 54, .9);
}

.alert-info {
    background: rgba(0, 0, 0, 0);
    color: inherit;
}